body {
  padding-top: 5px;
  background-color: #cccccc;

}





@media (min-width: 992px) {
}

.portfolio-item {
  margin-bottom: 30px;
}


h1 {

	color: #fff;
}

.navbar {

	padding-top: 10px;

}

.container {

	padding-top: 10px;

}

nav {


	width: 82%;
	margin-left: 122px;
	font-family: 'Black Han Sans', sans-serif;
}

footer {

	font-family: 'Black Han Sans', sans-serif;
}